.example-container {
    position: relative;
  }
.full-width-table{
  width: 100%;
}
.data-table{
  width: 99%;
  margin:5px auto ;
}
  .example-table-container {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
  }
  .tbuton{
    margin-left: -10px;
  }
  table {
    width: 100%;
  }
  button{ 
    size:30px;
  }

  .btn{
    font-weight:bold;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:20px;
    color: white;
  }
  th{
    
    font-size:15px;
    color: rgb(28, 28, 31);
  }
 .btn1{
  background-color: rgb(193, 22, 150);
  margin-top:20px;
  margin-bottom:20px;
  margin-left:20px;
  color: white;
 }
  
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
 
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-rate-limit-reached {
    max-width: 360px;
    text-align: center;
  }
 
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }
  
  
  th.mat-sort-header-sorted {
      color: black;
    
    }
  
  .formBg {
    padding: 20px; 
    background:white;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(43,91,162,0.25);
  }
  
  .formDesc {
    resize: none;
  }
  .make-gold {
    background: rgb(213, 219, 242);
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    border: 1px solid rgb(194, 202, 238);
  }
  .page{
    background: rgb(109, 133, 243);
    color: #fff;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    border: 1px solid rgba(171,170,214,0.25);
  }
  
  .paginator{
    text-decoration: underline;
    margin-left: 35%;
   
  }
 
  
  .filter{
    font-style:bold;
    font-size: large;
    
    text-decoration: underline;
    
  }
  
  
  