<header>
    <div class="navbar navbar-dark shadow-sm bg-custom-2">
        <div class="navbar-brand align-item-center d-flex">
            <div>
                <p>Ticketting Application</p>
            </div>

        </div>
        <!-- <button mat-button color="primary">Accent</button> -->
        <div *ngIf="this.AuthService.isloggedin === false; else issignedin"  >
            
            <button mat-button type="button" routerLink="login" >Sign In</button>
            
            <button  mat-button type="button"  routerLink="register" >Sign Up</button>
        </div>

        <ng-template #issignedin>
            <div class="align-item-center d-flex">
                <span>{{AuthService.user.name}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             
                <button class="out" type="button" mat-button (click)="onLogoutClick()">Sign Out</button>
            </div>
        </ng-template>

        
    </div>
</header>
