

.form-control {
    border-radius: 3px;
    width: 600px;
    margin-left: 20px;
}

.navbar {
   background-color:rgb(14, 7, 75);
    height: 75px;
    box-shadow: 13px 3px 33px rgb(0, 0, 0);
    color: '#fff',
   
    
}

p {

    font-size: 30px;
    font-style: italic;
    font-family:'system-ui'
}


// .search-icon {
//     position: absolute;
//     z-index: 10;
//     right: 59%;
//     top: 20px;
//     color: blue;
// }

span {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 12px;
    cursor: pointer;
}
.waves-light{
    border-radius: 100px;
    margin-bottom: 20px;
}

.btn {
    margin-right: 15px;
    color: #fff;

   
    &-signIn:hover {
        background-color: #7b0a0a;
        color: #fff;
        transition: .2s ease-out;
        transform: scale(1.20);
    }

    &-signUp:hover {
        background-color: #7b0a0a;
        color: #fff;
        transition: .2s ease-out;
        transform: scale(1.20);
    }

}

