

.form-control {
    border-radius: 3px;
    width: 600px;
    margin-left: 20px;
}

.navbar {
    background-image: linear-gradient(180deg, rgb(37, 174, 233), rgb(156, 31, 168));
    height: 80px;
    box-shadow: 13px 3px 33px black;
}

strong {

    font-size: 30px;
    font-style: italic;
}


// .search-icon {
//     position: absolute;
//     z-index: 10;
//     right: 59%;
//     top: 20px;
//     color: blue;
// }

span {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 12px;
    cursor: pointer;
}

.btn {
    margin-right: 15px;
    color: #fff;

    &-signIn {
        background-color: #21a115;
        box-shadow: 5px 5px 15px rgb(4, 16, 74);
    }
    &-signIn:hover {
        background-color: #7b0a0a;
        color: #fff;
        transition: .2s ease-out;
        transform: scale(1.20);
    }


    &-signUp {
        background-color: #21a115;
        box-shadow: 5px 5px 15px rgb(4, 16, 74);
    }
    &-signUp:hover {
        background-color: #7b0a0a;
        color: #fff;
        transition: .2s ease-out;
        transform: scale(1.20);
    }

    &-cart {
        background-color: #222831;

        .badge {
            background-color:rgb(28, 193, 39);
        }
    }

    &-signOut {
        background-color:rgb(13, 136, 21);
        box-shadow: 5px 5px 15px black;
    }
}

